.grey-container{
  line-height: 35px;
  background-color: #F0F0F0;
}
.business-applicants-status{
  padding: 3%;
  margin-bottom: 3%;
}
.business-box{
  border: 1px solid #F0F0F0;
  padding: 2%;
  margin-top: 2%;
}