.homepage-header-container{
  background-color: blue;
  padding-bottom: 10%;
  h1{
    font-size: 60px;
    margin: 5% 0;
    color: white;
  }
  h2{
    color: white;
  }
  a.homepage-post-job{
    border: 1px solid #fff;
    height: 25px;
    display: block;
    width: 110px;
    float: left;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: white;
  }
  a.homepage-tag{
    font-size: 14px;
    color: white;
    float: left;
    line-height: 20px;
    margin-left: 5%;
  }
}

.homepage-search-container{
  background-color: black;
  padding: 3% 10%;
}
.homepage-title-container{
  padding: 5% 10%;
  h2{
    color: $text-color;
    font-size: 33px;
    line-height: 140%;
  }
}
h4{
  font-size: 14px;
}
h3{
  font-size: 16px;
}
.homepage-button{
  margin: 5% 0;
}
.homepage-job-browser{
  padding: 0;
  margin-top: 3%;
  a{
    display: block;
    margin-top: 3%;
    color: $text-color;
    font-size:12px;
  }
}

.header-sign-up{
  height: 60px;
  line-height: 60px;
  color: white;
  font-size: 16px;
}
.page-heading{
  background-color: #48B7FE;
}